<header>
    <ul id="blog_header">
        <li><h1><a href="/blog">My Blog</a></h1></li>
        <nav>
           <li><a href="/blog">All Posts</a></li>
           <li><a href="/create">Create Post</a></li> 
        </nav>
    </ul>
</header>